body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: bisque;
  }
  
  h1 {
    text-align: center;
  }
  
  #container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    background-color: rgb(125, 75, 6);
    font-size: 80px;
    padding: 20px;
    border-radius: 90px;
    color: #ffffff;
  }
  
  

